.contentMaxWidth {
    width: 100%;
}

h2 {
    margin: 7rem auto 5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--colorBaseLight);
    background-color: rgb(150, 190, 255);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contactInfo p{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 5rem;
    line-height: 3.5rem;

    color: var(--colorBaseDark);
    color: rgb(30, 70, 130);
}

.form {
    padding: 0;
}
.form p {
    font-size: 1rem;
    color: black;
}


.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.localInfo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

iframe {
    width: 100%;
}

.localInfo p{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 5rem;
    line-height: 3.5rem;
}


@media screen and (min-width: 700px) {
    h2 {
        margin-top: 0;
    }

    .contentMaxWidth {
        width: 80%;
    }

    .contact {
        padding-top: 15rem;
    }

    .contactInfo {
        flex-direction: row;
    }

    .contactInfo p {
        margin-right: 5rem;
        text-align: right;
        line-height: 7rem;
    }

    .form {
        width: 60vw;
        min-width: 300px;
    }

    .local {
        width: 100%;
        padding: auto;
    }
    .localInfo {
        flex-direction: row;
    }

    iframe {
        width: 60vw;
    }

    .localInfo p {
        margin-left: 5rem;
        min-width: 25vw;
    }
    
}