:root {
	--colorBaseDark: rgb(0, 51, 128);
	--colorBaseLight: #acc3e5;
	--colorCompDark: rgb(185, 26, 108);
	--colorCompLight: #F39C12;
}

* {
	/* "*" overrides browser default */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 400 1rem Josefin Sans;
}

html,
body {
	height: 100vh; /* divide box in 100 */
	background: var(--colorBaseDark);

}

.header {
	background-color: white;
	font: 700 1vw Josefin Sans;
	color: var(--colorBaseDark);

	display: flex;
	align-items: center;
	justify-content: right;

	height: 50px;
	width: 100%;
}


.header a {
	text-decoration: none;
	color: var(--colorBaseDark);
	
	justify-content: right;
	padding: 15px;
}

.header img {
	justify-content: left;
}

body {
    background: var(--colorBaseDark);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer:after {
	background-color: white;
	font: 400 1vw Josefin Sans;
	color: var(--colorBaseDark);

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
					content: '© 2020 | Indigo Chroma studio | v.0.013';
}

h1 {
	font: 700 5rem Josefin Sans;
	color: white;
	text-align: center;
}

h2 {
	font: 700 4.5vw Josefin Sans;
	color: white;
	text-align: center;
}

p {
	font: 500 2vw Montserrat;
	color: var(--colorBaseLight);
}


a {
    text-decoration: none;
    color: magenta;
}

.home-button img {
	min-width: 2vw;
	max-width: 5vw;
}



/* font min size */
@media screen and (max-width: 750px) {
	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 2rem;
	}

    p {
		text-align: left;
        font-size: 1rem;
	}

	.footer:after {
		font-size: 8px;
	}
}


/* font max size */
@media screen and (min-width: 1000px) {
	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 3rem;
	}

	p {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 1200px) {	
	.footer:after {
		font-size: 12px;
	}
}

/* mobile screen */
@media screen and (max-width: 900px) {
	.header {
		visibility: hidden;
	}
}

