:root {
	--color_base_dark: #240168;
	--color_base_light: #AECEFE;
	--color_comp_dark: #B91A6C;
	--coor_comp_light: #F39C12;
}

* {
	/* "*" overrides browser default */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh; /* divide box in 100 */
}

body {
	background: var(--color_base_dark);
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
    font: 700 5rem Josefin Sans;
    color: white;
    text-align: center;
}

p {
	font: 400 1rem Montserrat;
	color: --color_base_light;
}

.contact-button img {
	max-width: 5vw;
}
