:root {
	--colorBaseDark: rgb(30, 70, 130);
	--colorBaseLight: rgb(150, 190, 255);
	--colorCompLight: rgb(240, 150, 20);
}

/*global styles*/

*,
*::before,
*::after {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	box-sizing: border-box;
/* 	background-color: rgb(0, 50, 130);
 */	background-color: rgb(30, 70, 130);
}

/* delete after */
.mapouter {
	position: relative;
}
.mapouter::after {
	content: 'Abriremos nossa loja física em breve!';
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	height: 50px;

	font-size: 3rem;
	text-align: center;
	color: navy;


	z-index: 10000;
}


a {
	text-decoration: none;
	font-size: 2rem;
}

ul {
    list-style: none;
}

li {
	color: var(--colorBaseLight);
	color: rgb(150, 190, 255);
	font: 400 2rem Montserrat;
}

h1 {
    font: 700 4rem 'Josefin Sans';
	text-align: center;
	color: var(--colorBaseLight);
	color: rgb(150, 190, 255);
}

h2 {
	font: 700 3rem 'Josefin Sans';
	text-align: center;
	color: white;
    margin: 7rem auto 5rem;
}

h3 {
	font: 700 3rem 'Josefin Sans';
	text-align: center;
	color: white;
}

p {
	color: var(--colorBaseLight);
	color: rgb(150, 190, 255);
	font: 400 2rem Montserrat;
	max-width: 60ch;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

.logoIntro {
	margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.logoIntro img {
    max-width: 80vw;
    margin: 50px auto 0;
}

.sectionBreak {
    background-color: white;
    height: 2px;
    border-radius: 5px;
    width: 80vw;
    margin: auto;
}


footer {
	width: 100%;
}

.footer:after {
	background-color: var(--colorBaseLight);
	background-color: rgb(150, 190, 255);
	font: 400 1.5rem Josefin Sans;
	color: var(--colorBaseDark);
	color: rgb(30, 70, 130);

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px 0;
	content: '© 2020 | Indigo Chroma Studio';
	/* v.0.24 */
}


@media screen and (min-width: 700px) {
    .logoIntro img {
        display: none;
    }
}